<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        .logo{
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .logo img{
            height: 100px;
            width: 300px;
        }
        button{
            border-radius: 5px;
            height: 50px;
            width: 100px;
        }
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }

    </style>
</head>
<body>
    <div class="logo">
        
        <img src="https://www.uga.edu/img/GEORGIA-FS-FC.7d04edb7.png" alt="uga logo">


    </div>
    <h2>Welcome, Kniterate Users!</h2>
    <p>This chatbot is developed by the research team at the University of Georgia to support you in using the Kniterate machine and design software. Whether you need help with general operation or troubleshooting, we hope it makes your knitting journey even more enjoyable!

        Please note that all conversations with the chatbot will be stored and analyzed purely for academic purposes. No personal information will be collected, and the data will not be used for any commercial or private gain. While we strive to provide helpful responses, please be aware that the information shared by the chatbot may not always be accurate.</p>
        
        <p>By clicking "I Agree," you accept these terms. If you prefer not to agree, please click "I Disagree."</p>
    <form method="POST">
        <button type="submit" name="agree" value="yes" style="background-color: #B5EAD7"><b>I AGREE</b></button>
        <button type="submit" name="agree" value="no" style="background-color: #FFB7B2"><b>I DISAGREE</b></button>
    </form>
</body>
</html>
